.context-mcqs {
    background-color: #1c1d24;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.form-container {
    width: 100%;
    max-width: 1000px;
}

.results-container {
    width: 100%;
    margin-top: 20px;
    padding: 0; 
}

.question-section {
    background-color: #2a2d3a;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.Form h2 {
    font-size: 2.5rem;
    color: #ea2340;
    margin: 5px 15px 20px;
}


.Form label {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #333646;
    border: 1px solid #44475a;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.Form label:hover {
    background-color: #414760;
    border-color: #5b5f75;
    color: #fff;
}

/* Checkbox styling */
.Form input[type="checkbox"] {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    background-color: #333646;
    accent-color: #ff6b6b;
}

/* Submit button styling */
.Form button[type="submit"] {
    background-color: #ea2340;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    font-size: 1.75rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Form button[type="submit"]:hover {
    background-color: #fa5f1a;
}

/* Loading message styling */
#root > div {
    font-size: 18px;
    color: #b3b3b3;
    text-align: center;
}


.meal-results {
    margin: 20px 5%;
}

.meal-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    justify-items: center;
}

